{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UCLA Smart Grid Energy Data</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

</head>
<body>
<div class="page-header">
    <h1>UCLA Smart Grid Energy Plant Information</h1>
</div>
<div class="post">
    <p>The UCLA Smart Grid Energy Research Center (SMERC)
    performs research, creates innovations, and demonstrates
    advanced wireless communication, Internet and sense-and-control
    technologies to enable the development of the next generation of
    the electric utility grid -- The Smart Grid.</p>
</div>
<div class="subtitle">
    <h2>The Energy Plant Data</h2>
    <p>Shown below are a list of data points obtained from one of the
    local energy plants located at UCLA.</p>
</div>

    <h4><a href="http://smartgrid.ucla.edu/index.htm">SMERC Main Website</a></h4>
</body>
</html>